body {
    margin: 0;
    background: url(https://fondosmil.com/fondo/8516.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: #fff;
}