<section class="info">
    <h1 class="text">Login</h1>

</section>
<style>
    .container {
        background-color: dimgrey;
    }
</style>
<div class="row">
    <div style="padding-right: 50px;" class="col-md-8">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input #email type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input #password type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button (click)="onSubmit(email.value, password.value)" type="submit" class="btn btn-primary">Login</button>
        <button class="btn btn-info" (click)="onClick()">  Iniciar sesión con Google

        </button>
    </div>

</div>